# Firebase Configuration Variables for GitHub Pages or Production Deployments
VITE_FIREBASE_API_KEY=AIzaSyBo6yD2gE8M7HASjDlvrDrMPpLRRd31wyE
VITE_FIREBASE_AUTH_DOMAIN=outsource-f1e0f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=outsource-f1e0f
VITE_FIREBASE_STORAGE_BUCKET=outsource-f1e0f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=428092829658
VITE_FIREBASE_APP_ID=1:428092829658:web:1110780e827afb11dd9ae3
VITE_FIREBASE_DATABASE_ID=ai-studio-outsourcedatabas-932d6106-b948-4503-a6fd-7143b5e143ff
